@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Indie+Flower&family=Nunito:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 5rem;
  background-color: #399b53;
}

.container {
  width: 80%;
  margin: 1rem auto;
  max-width: 1320px;
  color: white;
}

nav {
  background-color: white;
}

header nav img {
  width: 4rem;
}
header nav li {
  font-size: 1.2rem;
  font-weight: 600;
}

h1 {
  font-weight: 600;
}

h1 span {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards .card {
  margin: 01rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 5px 20px -10px black;
  color: #276938;
  max-width: 500px;
  font-size: 1.3rem;
}

h3 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
.cards .card p {
  text-align: left;
}

footer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
footer span {
  font-weight: 600;
}
footer .redes {
  text-decoration: none;
  color: black;
  margin: 0rem 0.3rem;
}

@media (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*LOGUIN*/
.login {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 1rem;
}
.login .login__texto {
  margin: 0.7rem 0rem;
  padding: 0.3rem;
  width: 100%;
}

.inputBoton {
  background-color: #276938;
  border: none;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 5px 20px -10px black;
}

.informacion {
  background-color: #276938;
}

.simulador {
  margin-top: 2rem;
  width: 50%;
}

.simulador label {
  font-size: 1.5rem;
  font-weight: 600;
}

.carrousel {
  width: 75%;
}
/*#399b53*/
